.Home {
  display: flex;
  background-color: #fff;
  height: 80vh;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
  /*text-align: center;*/
  justify-content: center;
}
.section {
  padding: 50px;
}
